doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Create and join a disposable room')
        link(rel="apple-touch-icon" href="/apple-touch-icon.png")
        meta(name="theme-color" content="#3367D6")
        link(rel="manifest", href="/site.webmanifest")
        script(src='/js/https.js')
        title Home
        style.
            @font-face{font-family:sans;src:url(/css/sans.ttf) format("truetype");font-display:swap}body,html{min-height:100%;height:100%;margin:0;font-family:sans,"Segoe UI",Tahoma,Geneva,Verdana,sans-serif}body{position:relative}.bodyWrapper{height:100%;align-items:center;justify-content:center}.pageTop{display:flex;flex-direction:column;justify-content:center;margin:auto 1rem;height:100%}.logoContainer{height:5rem;display:flex;justify-content:center}.logoContainer img{height:100%}.kickStart{display:flex;flex-direction:column;align-items:center;justify-content:center;max-width:500px;margin:0 auto}.kickStart form{width:80%;display:flex;flex-direction:column}.kickStart h1{text-align:center}.inputHolder{display:flex;align-items:center;justify-content:center}.inputHolder input[type=text]{padding:.5rem;width:85%;margin:.5rem;border:1px solid rgb(84 84 84 / 30%);border-radius:4px;outline:0;font-family:sans,"Segoe UI",Tahoma,Geneva,Verdana,sans-serif}.createButton{margin:1rem;background-color:#f8f9fa;border:1px solid #f8f9fa;border-radius:4px;color:#3c4043;font-size:14px;margin:11px auto;padding:0 16px;line-height:27px;height:36px;min-width:54px;text-align:center;cursor:pointer;user-select:none;max-width:120px}.noInternetBanner{position:fixed;top:0;left:50%;transform:translateX(-50%);height:3rem;width:100%;background:red;color:#fff;display:none}.noInternetInfo{display:flex;align-items:center;justify-content:center;font-size:1.2rem;margin:auto auto;height:3rem}
    body
        .noInternetBanner
            .noInternetInfo
                span You're not connected to the internet
        .bodyWrapper
            .pageTop
                .logoContainer
                    img(src='/images/talk.svg', alt='Site Logo', height=300, width=200)
                .kickStart
                    h1 Create and join a disposable room
                    p No account needed
                    form(action="/chat/create", method="post") 
                        .inputHolder
                            input#room(aria-label='Enter Room Name', maxlength='30', type='text', placeholder='Room name', name="room")
                        button#createButton.createButton(type="submit") Create
        script.
            if(!window.navigator.onLine) {
                document.querySelector('.noInternetBanner').style.display = 'block'
                document.querySelector('#createButton').disabled = true
            } 
            window.addEventListener('online', () => window.location.reload());
            if('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('serviceworker.js')
                        .then((reg) => console.log('Success: ', reg.scope))
                        .catch((err) => console.log('Failure: ', err));
                })
            }